 @media only screen and (min-width: 767px) {
            /**좌우 여백 마진*/
            html{overflow-x: hidden;}
            section{padding:0 1vw;}
            
            nav {margin:0 1vw;}

            p{color:#13519c;}
            a:hover{color:#ef8b9e;}
            input{display: none;}

            /**맨 위 파트*/
            
            #fullImg2{display: none;}
            .main{
                 min-height: 100vh;
                display: flex;
                padding-top:28vh;
              padding-bottom: 6vh;}

                #right{
                    display: flex;
                    order:0; 
                    
                    }
                        #right img{width:100%;}
                        #right .empty {order:0;}
                        #right .flex_5{order:1;}
                #left{display: flex; 
                    order:1;}
                    
                        .togglePC{order:2; margin-bottom: 3vh;}
                        .togglePC p {padding:1vh 1vw; border-radius: 20%;}
                        .toggleM{display: none;}
                        
                                
                        .empty{order:0; display:block; opacity: 0;}
                        .text{order:1;}
                                .Kr{font-size:calc(12px + 0.4rem); line-height: 1.8; word-break: keep-all;}
                                .Kr p{margin-bottom:2vh;}
                                .En{display: none; font-size:calc(12px + 0.4rem); line-height: 1.8; word-break: keep-all;}
                                .En p{margin-bottom:2vh;}

            .details {background-color: black;}
            .details img{width:100%;}
                    .videoWrap {position: relative;
                          padding-bottom: 56.25%;
                          /* 16:9 */
                          padding-top: 25px;
                          height: 0;}
                    .videoWrap iframe {position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;}


            .info {
                min-height:6vh;
                height:auto;
                position: sticky;
                position: -webkit-sticky;
                width:100%;
                padding: 0 1vw;
                display: flex;
                background-color: #f2f6fb;
                bottom:0;
                border-top:solid #13519c 2px;
                z-index:10;
                justify-content: space-between;
                align-items: center;
                font-size: 1em;
                color:#13519c;
              }
                    .info img{width:calc(12px + 1.5vw); height: auto; margin-right: 0.3vw;}
                    .track{display: flex; align-items: center;}
                    .empty2{display: none;}


        }


    @media only screen and (max-width: 767px) {
      html{overflow-x: hidden;}
      section{padding:0 5vw;}
            
      nav {margin:0 5vw;}

      p{color:#13519c;}
      input{display: none;}
      #fullImg {display: none;}
      #fullImg2{display: block;}
      .main{min-height: 100vh;padding-top:15vh; padding-bottom: 6vh;}
          #right{order:0; 
             padding-bottom: 3vh;}
              #right img{width:100%;}
              .empty {display: none;}
          #left{}
              .togglePC{display: none;}
              .toggleM{position: absolute; bottom:7vh; right:5vw; width:15vw; border-radius:3vw; z-index: 5;}
                        .Ltoggle{justify-content: flex-end;}
                        .toggleM p{padding:2vw 2vw; border-radius: 20%;}
              .text{order:1;}
                        .Kr{font-size:16px; line-height: 1.6; word-break: keep-all;}
                        .Kr p{margin-bottom:2vh;}
                        .En{font-size:16px; line-height: 1.6; word-break: keep-all;}
                        .En p{margin-bottom:2vh;}
                        .details img{width:100%;}
              .videoWrap {position: relative;
                          padding-bottom: 56.25%;
                          /* 16:9 */
                          padding-top: 25px;
                          height: 0;}
              .videoWrap iframe {position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;}

      #Project{height: 100vh;}
              .info {height:6vh;
                width:100%;
                padding: 0 5vw;
                display: flex;
                background-color: #f2f6fb;
                border-top:solid #13519c 2px;
                z-index:10;
                justify-content: space-between;
                align-items: center;
                font-size: 1em;
                color:#13519c;}
              .sns1{text-align: right;}
              .sns2{display: none;}

               
                    .track{display:none;}
                    .empty2{display: none;}
        #imgId {filter: drop-shadow(6px 6px #2a99d7);}

                        
    }
