@charset "utf-8";

	/* 전체 구간에 적용되는 flex */
	.flex_1{flex: 1;}
    .flex_2{flex: 2;}
    .flex_3{flex: 3;}
    .flex_4{flex: 4;}
    .flex_5{flex: 5;}
    .flex_6{flex: 6;}
    .flex_7{flex: 7;}
    .flex_8{flex: 8;}
    .felx_9{flex: 9;}
    .flex_10{flex: 10;}
    .flex_11{flex: 11;}
    .flex_12{flex: 12;}


    /* 데스크탑 나브 바 */
    #m_nav{display: none;}
	#nav { 			
		color: #13519c;
		height: 18vh; 
		position: fixed;
    	top:0;
    	width: 98vw;
    	display: flex;
    	justify-content: space-between;
    	transition:all 0.3s ease;
    	padding:1vh 0;
    	font-weight: bold;}

    #nav.hide {top: -18vh;}	

    

	.nav_title {font-size: calc(1rem + 3vw); white-space: nowrap;}
	.nav_title:hover {font-asize: 0;}
    .nav_title span{display: none; font-size: calc(1rem + 3vw); line-height: 0.4; font-weight: 100; font-family: HV; color: #ef8b9e;}
  	.nav_title:hover span{display: block;}
  	
  	.nav_menu {display: flex; margin-top: 3px; font-size: calc(0.5rem + 1vw); text-align: right;}
  	.nav_menu span{font-weight: 100; font-family: HV; color: #ef8b9e;}
  	.nav_menu a:hover{font-size: 0;}
  	.nav_menu a span{display: none; font-size: calc(0.5rem + 1vw); text-align: right; font-family: HV; color: #ef8b9e;line-height: 0.8;}
  	.nav_menu a:hover span{display: block;}


  	/* 모바일 나브 바 */
 
@media only screen and (max-width: 767px){
    img{width: 100%;}
    #nav{display: none;}
 	#m_nav {
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100px;
        transition:all 0.3s ease;
        padding:0px 10px;
        left: -10px;}
    #m_nav.hide{top: -100px;}
    header{
        display: flex;
        justify-content: space-between;
        z-index: 30;
        height: 80px;
    }
    header a{
        width: 220px;
        z-index: 50;
        padding: 10px;
    }
    #menuBtn{
        width: 50px; 
        z-index: 100;
        padding: 10px 10px 0 0; 
        cursor: pointer; 
        transition: all 0.3s ease-in-out;}

    #navBox{
        background-color: #f2f6fb;
        padding: 120px 0 0 10px;
        height: 280px;
        width: 100%;
        z-index: 2;
    }
    #navBox a{
        display: block;
        font-size: 30px;
        line-height: 45px;}

    #dimmed{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .menuWrap{
        position: fixed;
        top: -400px;
        transition: all 0.3s ease-in-out;
    }
    .menuWrap.on{
        top: 0;
    }
    .btnRotate {
        transform: rotate(-90deg);
        transition: all 0.3s ease-in-out;
      }
    .hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

}
